# v1.2.1

# OS generated
# Windows
ehthumbs.db
Thumbs.db
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon?

# VSCode
/.vscode/
*.code-workspace

# Package
/onihime/Packages/cyou.sumomo.afl
/onihime/Packages/com.akiyakun.unitycicd
# ローカルフォルダに入れ子で.gitignoreを作成してください
# /[Pp]ackages/
# !/[Pp]ackages/manifest.json
# !/[Pp]ackages/packages-lock.json
###################################################################################################

/TestData/

